@import 'colors';
.blue-background {
  background-color: $blue;
}
.green-background {
  background-color: $green;
}
.red-background {
  background-color: $red !important;
}
.purble-background {
  background-color: $purple;
}
.orange-background {
  background-color: $orange;
}
.lavendar-background {
  background-color: $lavender;
}
.cyan-background {
  background-color: $cyan;
}
.pistachio-background {
  background-color: $pistachio !important;
}
.yellow-background {
  background-color: $yellow;
}
.red-light-background {
  background: $red-light;
}
.purble-light-background {
  background: $purble-light;
}
.green-light-background {
  background: $green-light;
}
.gray-darker-background {
  background: $lighterGray;
}
.transparent-green-background {
  background: $transparent-green !important;
}
.transparent-blue-background {
  background: $transparent-blue !important;
}
.transparent-purble-background {
  background: $transparent-purble !important;
}
.transparent-red-background {
  background: $transparent-red !important;
}
.black-background {
  background: $darkerBlack;
}
element.style {
  opacity: 1;
}

.toast-success {
  background-color: $green !important;
}
.toast-error {
  background-color: $red !important;
}
