@import '../shared/styles/global';
@import '../shared/styles/colors';
.home {
  padding: 1rem;
  &__content {
    padding: 1rem 1.5rem;
    &__overview {
      &__cards {
        background-color: $lighterGray;
        border: none;
        border-radius: 20px;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        &__card {
          cursor: pointer;
          transition-duration: 0.5s;
          border-radius: 0.5rem;
          display: flex;
          padding: 1rem 0.5rem;
          &__icon {
          }
          &__content {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            margin-bottom: 1rem;
          }
          &__ratio {
          }
          &__statistics {
            display: flex;
            flex-direction: column;
            /*   &__title {
              display: flex;
              align-items: center;
              margin-bottom: 4px;
              font-size: 13px;
              font-weight: 600;
              line-height: 1.23077;
              color: #33383f;
            } */
          }
        }
      }
    }
  }
}
