@import '../../styles/global';
.mat-toolbar-row,
.mat-toolbar-single-row {
  position: sticky;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background-color: $lightestGray;
  padding: 1rem;
  flex-flow: row-reverse;
  box-shadow: inset 1px 0px 0px #f4f4f4, inset 0 -1px 0px #efefef;
  height: 5rem;
}
svg-icon {
  svg {
    path {
      fill: $darkGray !important;
    }
  }
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__menu {
    @media (min-width: 786px) {
      display: none;
    }
  }
}
.toolbar-menu {
  width: 15rem;
  position: absolute;
  background-color: $white;
  right: 1rem;
  top: 4.5rem;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0px 40px 64px -12px rgba(0, 0, 0, 0.08),
    0px 0px 14px -4px rgba(0, 0, 0, 0.05), 0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  animation: anim 0.3s ease-in-out;
  ul {
    li {
      color: $darkGray;
      font-weight: 600;
      padding: 0.5rem;
      font-size: 15px;
      padding-inline: 0.5rem;
      padding-block: 1rem;
      cursor: pointer;
      &:hover {
        color: $darkerBlack;
        svg-icon {
          svg {
            path {
              fill: $darkerBlack;
            }
          }
        }
      }
    }
  }
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
